@import "tailwindcss";
@import "./colors.css";

@theme {
  /* Mapeo de variables CSS a Tailwind */
  --color-background: var(--color-background);
  --color-background-secondary: var(--color-background-secondary);
  --color-background-tertiary: var(--color-background-tertiary);
  
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-inverse: var(--color-text-inverse);
  --color-info-background: var(--color-info-background);

  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-900: var(--color-neutral-900);
  
  --color-state-error: var(--color-error);
  --color-border: var(--color-border);
  --color-error-light: var(--color-error-light);

  --font-sans: system-ui, -apple-system, sans-serif;
  --breakpoint-lg: 1200px;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
  }
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 1200px;
  }
}