@import "tailwindcss";
@import "./colors.css";

@theme {
  /* Mapeo de variables CSS a Tailwind */
  --color-background: var(--color-background);
  --color-background-secondary: var(--color-background-secondary);
  --color-background-tertiary: var(--color-background-tertiary);
  
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-inverse: var(--color-text-inverse);
  
  --color-state-error: var(--color-error);
  --color-border: var(--color-border);

  --font-sans: system-ui, -apple-system, sans-serif;
  --breakpoint-lg: 1200px;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
  }
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 1200px;
  }
}